/* Resizable.css */
.resizable {
    position: relative;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.resizer {
    width: 10px;
    background: rgba(0, 0, 0, 0.1);
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
